doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    block styles
      link(rel='stylesheet', href='main.sass')
      link(rel='icon', type="image/png", href='favicon.png')

    block scripts
      //script(src='main.js')
    title To Dos
  body.has-text-black
    .hero.is-fullheight.has-background-primary
      .columns.is-centered.mytitle.mb-6
        .column.has-text-centered.is-one-third.pb-0
          h1.is-size-1.py-2.px-3.my-2 productivity
      .container.mx-6.px-6
        .columns.is-centered.mx-6
          .column.special-border.is-one-third
            p.is-size-3 activities
            .column.px-0.is-6
              #activities
          .column.ml-5
            p.is-size-3 to do
            .column.is-6.px-0
              #todos
  //load react
  script(src='https://unpkg.com/react@16/umd/react.development.js', crossorigin)
  script(src='https://unpkg.com/react-dom@16/umd/react-dom.development.js', crossorigin)
  //load react component
  script(src='src/react.js')
